body{
    text-align: center;
    text-wrap: wrap;
}

header{
    width: 100%;
    padding: 100px 25%;
    padding-bottom: 0;
}

.features{
    width: 100%;
    padding: 100px 16% ;
    padding-bottom: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

}

.container{
    padding: 50px 0;
}

h1 {
    font-weight: 700;
    font-size: 3.5em;
}

.features h2 {
    text-align: left;
    padding: 10px 0;
}


header  p {
    font-size: 1.25em;
    font-weight: 100;
}

header  .btn {
    width: 150px;
    height: 50px;
    font-size: larger;
    margin: 15px;
    font-weight: 500;
}

.btn-dark{
    background-color: #fff;
    color: slategrey;
    border-color: slategrey;
    font-weight: 500;
}

header img{
    width: 80%  ;
    margin-top: 20px;
    border-radius: 50px;
}

.features .carousel{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

footer a{
    color: rgb(70, 67, 67);
    text-decoration: none;
}

.icon{
    padding: 15px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

footer{
    width: 100%;
    padding: 30px 16% ;
    padding-bottom: 75px;
    display: flex;
    gap: 100px;
    text-align: left;
}

footer p {
    margin-top: 50px;
}

.one{
    width: 40%;
    margin-bottom: 8px;
}

.two, .three, .four{
    width: 20%;
    margin-bottom: 8px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 8px;
}

li{
    margin-bottom: 8px;
}


@media (max-width : 400px){

    body{
        text-align: center;
    }

    h1 {
        font-weight: 700;
        font-size: 1.5em;
        
    }

    footer{
        width: 100%;
        padding: 30px 16% ;
        padding-bottom: 75px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 100%;
        text-align: left;
    }
    
    footer p {
        margin-top: 50px;
    }
    
    .one{
        width: 100%;
        margin-bottom: 8px;
    }
    
    .two, .three, .four{
        width: 30%;
        margin-bottom: 6px;
    }

}



@media (max-width : 800px) {

    body{
        text-align: center;
    }

    header{
        width: 100%;
        padding: 100px 5%;
        padding-bottom: 0;
    }

    .features{
    width: 100%;
    padding: 100px 10% ;
    padding-bottom: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

}
    
    
    h1 {
        font-weight: 700;
        font-size: 2.5em;
        
    }
    
    .features h2 {
        text-align: left;
        padding: 10px 0;
    }
    
    
    header  p {
        font-size: 1.25em;
        font-weight: 100;
    }
    
    header  .btn {
        width: 70%;
        height: 50px;
        font-size: larger;
        margin: 15px 15%;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .btn-dark{
        background-color: #fff;
        color: slategrey;
        border-color: slategrey;
        font-weight: 500;
    }
    
    header img{
        width: 60%;
        margin-top: 20px;
        border-radius: 50px;
    }

    .col {
        width: 100%;
        margin-bottom: 30px;
    }

    .col h2{
        font-size: 1.5em;
    }
    
    .features .carousel{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    footer a{
        color: rgb(70, 67, 67);
        text-decoration: none;
    }
    
    .icon{
        padding: 15px;
        border-radius: 10px;
        width: 60px;
        height: 60px;
    }

    footer{
        width: 100%;
        padding: 30px 16% ;
        padding-bottom: 75px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        height: 100%;
        text-align: left;
    }
    
    footer p {
        margin-top: 50px;
    }
    
    .one{
        width: 100%;
        margin-bottom: 8px;
    }
    
    .two, .three, .four{
        width: 45%;
        margin-bottom: 6px;
    }
    
    ul{
        list-style-type: none;
        padding: 0;
        margin-bottom: 8px;
    }
    
    li{
        margin-bottom: 8px;
    }
}